*{
    pointer-events: none;
    pointer-events: visible;
    font-weight: 600;
    border-top-left-radius: 12px;
    height: 100px;
    height: ;
    

    border-bottom-left-radius: 12px;
    display: flex;
    justify-content:start;
    backgroun ;
}